/* Color Palette */
.whiteColor { color: $whiteColor; }
.lightBlueColor { color: $linkColor; }
.blueColor { color: $blueColor; }
.orangeColor { color: $orangeColor; }
.greenColor { color: $greenColor; }
.lightGreenColor { color: $lightGreenColor; }
.lightRedColor { color: $lightRedColor; }
.redColor { color: $redColor; }
.darkGrayColor { color: $darkGrayColor; }
.lightGrayColor { color: $lightGrayColor; }

/* Backgrounds */
.lightBlueColorBkgd { background-color: $linkColor; }
.blueColorBkgd { background-color: $blueColor; }
.orangeColorBkgd { background-color: $orangeColor; }
.greenColorBkgd { background-color: $greenColor; }
.lightGreenColorBkgd { background-color: $lightGreenColor; }
.lightRedColorBkgd { background-color: $lightRedColor; }
.redColorBkgd { background-color: $redColor; }
.darkGrayColorBkgd { background-color: $darkGrayColor; }
.lightGrayColorBkgd { background-color: $lightGrayColor; }
